{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "~> 2.8.0"},
  {jsx, "~> 3.0.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [rinseweb]}
]}.

{relx, [
  {
    release,
    {rinseweb, "0.0.1"},
    [rinseweb],
    [{dev_mode, false}, {include_erts, true}]
  },
  {include_erts, false},
  {extended_start_script, true}
]}.
