h2 {font-size:5em;font-family:monospace;}
form#search {display:flex;justify-content:center;}
input[type="text"] {font-size:3em;}
div#answer {font-size:3em;font-family:sans-serif;width:80%;margin-left:auto;margin-right:auto;}
div#answer > div.simple {text-align:center;}
div#answer > ul {margin:0;padding:0;list-style-type:none;font-size:0.5em;}
div#answer > ul.wiki > li {white-space:nowrap;overflow:hidden;text-overflow:clip;margin:10px;}
div#answer > ul.wiki > li > span {margin-left:20px}
div#answer > ul.definition > li > header {display:flex;align-items:baseline;}
div#answer > ul.definition > li > header > ul.phonetics {padding: 0;}
div#answer > ul.definition > li > header > ul.phonetics > li {display:inline;list-style:none;}
div#answer > ul.definition > li > header > ul.phonetics > li:first-child:before {content:"[";padding: 0 5px;}
div#answer > ul.definition > li > header > ul.phonetics > li:last-child:after {content:"]";padding: 0 5px;}
div#answer > ul.definition > li > header > ul.phonetics > li + li:before {content:",";padding: 0 5px;}
footer {position:fixed;bottom:0;text-align:center;width:100%;font-size:1em;font-family:sans-serif;}
